NODE_PORT=8082
NODE_ENV='development'

BETTER_AUTH_SECRET='ZaijX...'

RABBITMQ_URL='amqp://nsv_rmq_user:secure_password@localhost:5672/'

# Redis Configuration
REDIS_URL='redis://localhost:6379'

DATABASE_URL='postgresql://nsv_hevent_user:secure_password@localhost:5433/postgres'
DIRECT_DATABASE_URL='postgresql://nsv_hevent_user:secure_password@localhost:5433/postgres'

AUTH_COOKIE_PREFIX='nsv-auth'

GATEWAY_ENDPOINT='http://localhost:8080/api/v1'
ADMIN_EMAIL='example@gmail.com'
ADMIN_PASSWORD='1234'
