.text-renderer {
  font-size: 1.125rem;
  color: var(--card-foreground);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-block: 1.5rem;
    font-weight: bold;
    color: var(--primary);
  }

  h1 {
    font-size: 2.25rem !important;
  }

  h2 {
    font-size: 2rem !important;
  }

  h3 {
    font-size: 1.75rem !important;
  }

  h4 {
    font-size: 1.5rem !important;
  }

  h5 {
    font-size: 1.25rem !important;
  }

  h6 {
    font-size: 1rem !important;
  }

  p {
    margin-block: 1rem !important;
  }

  blockquote {
    background: oklch(from var(--muted) l c h / 0.1);
    border-radius: 8px;
    margin-block: 1rem;
    padding: 8px;
  }

  a[href] {
    color: var(--secondary);

    &:hover {
      text-decoration: underline;
    }
  }
}
